<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">>
      <button (click)="connectMetamask()" class="button" type="button">
        {{account}}
        &nbsp;<i class="fas fa-sync" aria-hidden="true" *ngIf="account !== 'Connect Metamask'"></i>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Grotto Lotto</h1>
      <p class="lead text-muted">Join the main pool or create yours and invite others to participate in a winner takes
        all lotto
        pool.
        <button type="button" class="btn btn-success btn-sm mr-1" data-toggle="modal" data-target="#howItWorkdModal">
          More Info...
        </button>
      </p>
    </div>
  </section>

  <div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="joinPoolFailure">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
        Error Joining Pool, Please try again later
      </p>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="joinPoolSuccess">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
        Pool Joined Successfully. Monitor your account to see if you won once pool is filled.
      </p>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="noMetaMask">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading"></h4>
      <p>You're not connected to Metamask or connected to the wrong network. Please make sure you are connected to
        Binance
        Smart Chain on Metamask</p>
      <p>Add Binance Smart Chain to Metamask - <a
          href="https://academy.binance.com/en/articles/connecting-metamask-to-binance-smart-chain">Setup BSC</a></p>
      <hr>
      <button (click)="connectMetamask()" class="button" type="button">
        {{account}}
        &nbsp;<i class="fas fa-sync" aria-hidden="true" *ngIf="account !== 'Connect Metamask'"></i>
      </button>
    </div>
    <div class="d-flex flex-row-reverse">
      <!--TODO: Replace with BSC URL-->
      <a class="button" href="https://blockscout.com/poa/sokol/address/0xAAC879f942e7665c565Ce813A84d2a26bB946Bc8" target="_blank" rel="noopener noreferrer">
        <button class="button" type="button">
          See Contract on Blockchain
        </button>        
      </a>
    </div>
    <h2>Main Pool</h2>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Pool ID</th>
          <th scope="col">Creator</th>
          <th scope="col">Price</th>
          <th scope="col">Size</th>
          <th scope="col">Value</th>
          <th scope="col">Filled</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of mainPool" data-toggle="modal" data-target="#joinPoolModal" (click)="setSelectedPool(pd)">
          <td scope="col">{{pd.poolId.substr(0, 10)}}...{{pd.poolId.substr(56)}}</td>
          <td scope="col">{{pd.poolCreator}}</td>
          <td scope="col">{{pd.poolPrice | currency: 'USD'}}</td>
          <td scope="col">{{pd.poolSize}}</td>
          <td scope="col">{{pd.poolPriceInEther}} BNB</td>
          <td scope="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{pd.currentPoolSize}}"
                style="width: {{(pd.currentPoolSize/pd.poolSize)*100}}%" aria-valuemin="0"
                attr.aria-valuemax="{{pd.poolSize}}">
                {{(pd.currentPoolSize/pd.poolSize)*100 | number : '1.2-2'}}%
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Completed Pool</h2>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Creator</th>
          <th scope="col">Price</th>
          <th scope="col">Size</th>
          <th scope="col">Value</th>
          <th scope="col">Winner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of completedPool" data-toggle="modal" data-target="#joinPoolModal">
          <td scope="col">{{pd.poolId.substr(0, 2)}}...{{pd.poolId.substr(64)}}</td>
          <td scope="col">{{pd.poolCreator}}</td>
          <td scope="col">{{pd.poolPrice | currency: 'USD'}}</td>
          <td scope="col">{{pd.poolSize}}</td>
          <td scope="col">{{pd.poolPriceInEther}}BNB</td>
          <td scope="col">{{pd.winner}}</td>
        </tr>
      </tbody>
    </table>    
  </div>  

  <div class="modal fade" id="joinPoolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2"
    aria-hidden="true" *ngIf="selectedPool !== undefined">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Join Pool</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><span class="font-weight-bold">ID: </span>{{selectedPool.poolId.substr(0,
            10)}}...{{selectedPool.poolId.substr(56)}}</p>
          <p><span class="font-weight-bold">Creator: </span>{{selectedPool.poolCreator}}</p>
          <p><span class="font-weight-bold">Size: </span>{{selectedPool.poolSize}}</p>
          <p><span class="font-weight-bold">Price: </span>{{selectedPool.poolPrice | currency: 'USD'}}</p>
          <p><span class="font-weight-bold">Value: </span>{{selectedPool.poolPriceInEther}} BNB</p>
          <div class="row">
            <div class="col col-6"></div>
            <div class="col col-3">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="joinPool(selectedPool)">Join
                Pool</button>
            </div>
            <div class="col col-2">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            <div class="col col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="howItWorkdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How does it work?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Grotto is a lotto game on the Binance Smart Chain network. It allows anyone to host a lotto game and get
          rewarded with Grotto tokens if a winner is found.
          <h2>How to enter</h2>
          <ul>
            <li>Get Metamask wallet - <a href="https://metamask.io/">Install Metamask</a></li>
            <li>Add Binance Smart Chain to Metamask - <a
                href="https://academy.binance.com/en/articles/connecting-metamask-to-binance-smart-chain">Setup BSC</a>
            </li>
            <li>Click connect on this page</li>
            <li>Select a pool and click join pool</li>
            <li>Click confirm on Metamask dialog</li>
            <li>If you win, your Metamask Account will be credited with your winnings</li>
            <li>Finally add the GROTTO token (address: 0xd1a219535432693c4f6Fc9Dec9A0272F5dd141eB, name: GROTTO) to
              Metamask - <a href="https://docs.yearn.finance/how-to-guides/how-to-add-a-custom-token-to-metamask">Add
                Token to Metamask</a></li>
          </ul>
          <p>There are two types of pools in Grotto</p>
          <h2>Main Pool</h2>
          <p>This is the pool that anyone can join at any time.</p>
          <p>The main pool is reset after a winner is found, the main pool has a size is 100.</p>
          <p>This means a winner is found after 100 people had joined the pool. A new pool is started immediately</p>
          <p>The main pool has a fixed price of $100 to join.</p>
          <p>Grotto is a winner takes all pool.</p>
          <p>The platform takes 10% of winnings.</p>
          <h2>User Defined Pools</h2>
          <p>Anyone can start a pool at any time.</p>
          <p>The user starting the pool (pool creator) sets the price and the size of the pool</p>
          <p>Size: The number of people that can join the pool before a winner is found</p>
          <p>Price: How much each user joining the pool needs to donate.</p>
          <p>The pool creator gets rewarded with ((pool price * pool size) - 10%) GROTTO tokens once a winner is found
          </p>
          <p>The 10% goes to the platform</p>
          <p>The minimum price for a user defined pool is $10</p>
          <p>The minimum size for a user defined pool is 100</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</main>